<table>
    <tr >
        <td style="padding:15px 0">
            <a href="https://rerid.com/api/auth/key/{{ key }}" style="font-family: 'Open Sans';display:inline-block; color:#fff; background-color:#14B9D6; text-decoration:none; padding:8px 15px; border-radius:8px;">Click</a>
        </td>
    </tr>
    <tr>
        <td>If you have any questions, please contact  <a href="mailto:rerid@gmail.com" style="font-family: 'Open Sans';display:inline-block; color:#14B9D6;text-decoration:none;">rerid@gmail.com</a></td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;padding:15px 0;">Thank you,</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">Feel free to follow us on social or to see our client reviews:</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">rerid.</td>
    </tr>
</table>
{--footer--}
