<table>
    <tr>
        <td style="font-family: 'Open Sans';font-size:23px;padding:10px 0;">Dear {{ firstName }}!</td>
    </tr>
    <tr>
    <tr>
        <td style="font-size:18px;font-family: 'Open Sans'; ">
            Login: {{ email }}
        </td>
        
    </tr>
    <tr>
        <td style="font-size:18px;font-family: 'Open Sans'; ">
            Pass: {{ password }}
        </td>
    </tr>
    <tr>
        <td>Click To Button <a href="http://88.212.241.213/admin/emailVerify/{{ confirmKey }}" download style="font-family: 'Open Sans';display:inline-block; color:#14B9D6;text-decoration:none;">Click</a></td>
    </tr>
    <tr>
        <td>If you have any questions, please contact  <a href="mailto:http://88.212.241.213:8000@gmail.com" style="font-family: 'Open Sans';display:inline-block; color:#14B9D6;text-decoration:none;">mailto:crisscrossproductionsent@gmail.com</a></td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;padding:15px 0;">Thank you,</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">Feel free to follow us on social or to see our client reviews:</td>
    </tr>
    <tr>
        <td style="font-family: 'Open Sans';font-size:18px;">goodway.</td>
    </tr>
</table>
{--footer--}
